---
slug: controller---pipelines-pipeline
searchable: true
max_deep_level: 3
authorization_policies:
metadata: {
    page_name: "Controller - Pipelines Pipeline",
    created_by: "QA Insites",
    page_title: "Controller - Pipelines Pipeline",
    last_updated_by: "QA Insites",
    is_visible_to_search_engines: "true",
}
--- 

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controller - Pipelines</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<style>
    .data-container {
        padding: 24px;
    }

    .data-container+.data-container {
        margin-top: 24px;
    }

    .data-container p {
        font-weight: 600;
        margin-bottom: 8px;
        width: fit-content;
    }

    .data-container p~p {
        font-weight: 400;
        max-width: 100%;
        margin-bottom: 0px;
    }

    p.error {
        background-color: rgba(247, 104, 104, 0.134);
        color: red;
        padding: 8px 16px;
        border-radius: 4px;
    }
</style>

<body>

    <!-- Get All -->
    {% parse_json paramsgetall %}
    {
        "sort_by": "updated_at",
        "sort_order": "DESC",
        "size": 10,
        "page": 1
    }
    {% endparse_json %}
    {% function datagetall = "pipeline/controller/pipelines/list", params: paramsgetall %}
    <div class="data-container">
        <p>Get All</p>
        {% if datagetall.errors %}
        <p class="error">{{ datagetall }}</p>
        {% else %}
        <p>{{ datagetall }}</p>
        {% endif %}
    </div>

    <!-- Get Single -->
    {% function dataget = "pipeline/controller/pipelines/get", uuid: datagetall.results[0].uuid %}
    <div class="data-container">
        <p>Get Single</p>
        {% if dataget.errors %}
        <p class="error">{{ dataget }} | Pipeline UUID: {{ datagetall.results[0].uuid }}</p>
        {% else %}
        <p>{{ dataget }}</p>
        {% endif %}
    </div>

    <!-- Add -->
    {% parse_json paramsadd %}
    {
        "name": "[QA TEST] Controller Pipeline",
        "status": "active",
        "sales_target_value": 100000,
        "sales_target_start_date": "2026-01-01",
        "sales_target_end_date": "2026-12-31",
        "is_won_reason_required": false,
        "is_lost_reason_required": false
    }
    {% endparse_json %}
    {% function dataadd = "pipeline/controller/pipelines/create", params: paramsadd %}
    <div class="data-container">
        <p>Add</p>
        {% if dataadd.errors %}
        <p class="error">{{ dataadd }}</p>
        {% else %}
        <p>{{ dataadd }}</p>
        {% endif %}
    </div>

    <!-- Update -->
    {% parse_json paramsupdate %}
    {
        "name": "[QA TEST] Controller Pipeline Updated",
        "status": "active",
        "sales_target_value": 200000,
        "sales_target_start_date": "2026-07-01",
        "sales_target_end_date": "2026-12-31",
        "is_won_reason_required": true,
        "is_lost_reason_required": true
    }
    {% endparse_json %}
    {% function dataupdate = "pipeline/controller/pipelines/update", uuid: dataadd.uuid, params: paramsupdate %}
    <div class="data-container">
        <p>Update</p>
        {% if dataupdate.errors %}
        <p class="error">{{ dataupdate }} | Pipeline UUID: {{ dataadd.uuid }}</p>
        {% else %}
        <p>{{ dataupdate }}</p>
        {% endif %}
    </div>

    <!-- Delete -->
    {% function datadelete = "pipeline/controller/pipelines/delete", uuid: dataadd.uuid %}
    <div class="data-container">
        <p>Delete</p>
        {% if datadelete.errors %}
        <p class="error">{{ datadelete }} | Pipeline UUID: {{ dataadd.uuid }}</p>
        {% else %}
        <p>{{ datadelete }}</p>
        {% endif %}
    </div>

</body>

</html>
