---
slug: controller---pipelines-opportunity
searchable: true
max_deep_level: 3
authorization_policies:
metadata: {
    page_name: "Controller - Pipelines Opportunity",
    created_by: "QA Insites",
    page_title: "Controller - Pipelines Opportunity",
    last_updated_by: "QA Insites",
    is_visible_to_search_engines: "true",
}
--- 

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controller - Opportunities</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<style>
    .data-container {
        padding: 24px;
    }

    .data-container+.data-container {
        margin-top: 24px;
    }

    .data-container p {
        font-weight: 600;
        margin-bottom: 8px;
        width: fit-content;
    }

    .data-container p~p {
        font-weight: 400;
        max-width: 100%;
        margin-bottom: 0px;
    }

    p.error {
        background-color: rgba(247, 104, 104, 0.134);
        color: red;
        padding: 8px 16px;
        border-radius: 4px;
    }
</style>

<body>

    <!-- Get All -->
    {% parse_json paramsgetall %}
    {
        "sort_by": "updated_at",
        "sort_order": "DESC",
        "size": 10,
        "page": 1
    }
    {% endparse_json %}
    {% function datagetall = "pipeline/controller/opportunities/list", params: paramsgetall %}
    <div class="data-container">
        <p>Get All</p>
        {% if datagetall.errors %}
        <p class="error">{{ datagetall }}</p>
        {% else %}
        <p>{{ datagetall }}</p>
        {% endif %}
    </div>

    <!-- Get Single -->
    {% function dataget = "pipeline/controller/opportunities/get", uuid: datagetall.results[0].uuid %}
    <div class="data-container">
        <p>Get Single</p>
        {% if dataget.errors %}
        <p class="error">{{ dataget }} | Opportunity UUID: {{ datagetall.results[0].uuid }}</p>
        {% else %}
        <p>{{ dataget }}</p>
        {% endif %}
    </div>

    <!-- Add -->
    {% parse_json paramsadd %}
    {
    "name": "API Added Opportunity",
    "status": "lost",
    "probability": "80",
    "value": "128000",
    "target_conversion_date": "2026-02-19",
    "database_item_id": "21917",
    "order.uuid": "6178d013-ff83-4cf4-b4f6-5cad4cb6bce8",
    "pipeline.uuid": "50ceca57-81cc-4265-9258-4cfb14f2ceff",
    "stage.uuid": "de46435e-b98d-488a-a002-b54f21ec5af3",
    "owner.uuid": "293e40af-52fa-4b8f-a622-4bfa8359aa9c",
    "contact.uuid": "c8f68d2f-e898-4057-95b9-73ffba0a813d",
    "company.uuid": "3abfe776-4d6a-441c-8df6-9de2320050b4",
    "division.uuid": "5cfbfcde-063b-4658-9bc7-825b36d830b9",
    "lead_source.uuid": "83d14aab-05e1-4245-a30d-e2e429002b7b",
    "lead_referred_by.uuid": "87015dd1-7924-450c-b771-76f6a33f99f0",
    "won_reason_uuid": "8162fe01-3361-4183-9f83-7bfcc8ff81d7",
    "lost_reason_uuid": "c8e8798d-1d68-4e71-a250-a3229234c267",
    "custom_field.custom_field_for_api_testing": "Custom Field Add Value"
}
    {% endparse_json %}
    {% function dataadd = "pipeline/controller/opportunities/create", params: paramsadd %}
    <div class="data-container">
        <p>Add</p>
        {% if dataadd.errors %}
        <p class="error">{{ dataadd }}</p>
        {% else %}
        <p>{{ dataadd }}</p>
        {% endif %}
    </div>

    <!-- Update -->
    {% parse_json paramsupdate %}
    {
        "name": "[QA TEST] Controller Opportunity Updated",
        "pipeline.uuid": "50ceca57-81cc-4265-9258-4cfb14f2ceff",
        "stage.uuid": "de46435e-b98d-488a-a002-b54f21ec5af3",
        "value": 10000,
        "probability": 75,
        "status": "open"
    }
    {% endparse_json %}
    {% function dataupdate = "pipeline/controller/opportunities/update", uuid: dataadd.uuid, params: paramsupdate %}
    <div class="data-container">
        <p>Update</p>
        {% if dataupdate.errors %}
        <p class="error">{{ dataupdate }} | Opportunity UUID: {{ dataadd.uuid }}</p>
        {% else %}
        <p>{{ dataupdate }}</p>
        {% endif %}
    </div>

    <!-- Delete -->
    {% function datadelete = "pipeline/controller/opportunities/delete", uuid: dataadd.uuid %}
    <div class="data-container">
        <p>Delete</p>
        {% if datadelete.errors %}
        <p class="error">{{ datadelete }} | Opportunity UUID: {{ dataadd.uuid }}</p>
        {% else %}
        <p>{{ datadelete }}</p>
        {% endif %}
    </div>

</body>

</html>
