---
slug: controller---opprtunities-opportunity-related-contact
searchable: true
max_deep_level: 3
authorization_policies:
metadata: {
    page_name: "Controller - Opprtunities Opportunity Related Contact",
    created_by: "QA Insites",
    page_title: "Controller - Opprtunities Opportunity Related Contact",
    last_updated_by: "QA Insites",
    is_visible_to_search_engines: "true",
}
--- 

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controller - Opportunity Related Contact</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<style>
    .data-container {
        padding: 24px;
    }

    .data-container+.data-container {
        margin-top: 24px;
    }

    .data-container p {
        font-weight: 600;
        margin-bottom: 8px;
        width: fit-content;
    }

    .data-container p~p {
        font-weight: 400;
        max-width: 100%;
        margin-bottom: 0px;
    }

    p.error {
        background-color: rgba(247, 104, 104, 0.134);
        color: red;
        padding: 8px 16px;
        border-radius: 4px;
    }
</style>

<body>

    <!-- Get All -->
    {% parse_json paramsgetall %}
    {
        "sort_by": "updated_at",
        "sort_order": "DESC",
        "size": 10,
        "page": 1
    }
    {% endparse_json %}
    {% function datagetall = "pipeline/controller/related-contacts/list", opportunity_uuid: b1856d9a-754f-4ee1-8d85-586da28ccbbc, params: paramsgetall %}
    <div class="data-container">
        <p>Get All</p>
        {% if datagetall.errors %}
        <p class="error">{{ datagetall }}</p>
        {% else %}
        <p>{{ datagetall }}</p>
        {% endif %}
    </div>

    <!-- Add -->
    {% parse_json paramsadd %}
    {
        "contact.uuid": "c8f68d2f-e898-4057-95b9-73ffba0a813d",
        "relationship": "API Added Opportunity Related Contact"
    }
    {% endparse_json %}
    {% function dataadd = "pipeline/controller/related-contacts/create", opportunity_uuid: b1856d9a-754f-4ee1-8d85-586da28ccbbc, params: paramsadd %}
    <div class="data-container">
        <p>Add</p>
        {% if dataadd.errors %}
        <p class="error">{{ dataadd }}</p>
        {% else %}
        <p>{{ dataadd }}</p>
        {% endif %}
    </div>

    <!-- Update -->
    {% parse_json paramsupdate %}
    {
        "relationship": "API Updated Opportunity Related Contact"
    }
    {% endparse_json %}
    {% function dataupdate = "pipeline/controller/related-contacts/update", opportunity_uuid: dataadd.uuid, params: paramsupdate %}
    <div class="data-container">
        <p>Update</p>
        {% if dataupdate.errors %}
        <p class="error">{{ dataupdate }} | Opportunity UUID: {{ dataadd.uuid }}</p>
        {% else %}
        <p>{{ dataupdate }}</p>
        {% endif %}
    </div>

    <!-- Delete -->
    {% function datadelete = "pipeline/controller/related-contacts/delete", opportunity_uuid: dataadd.uuid %}
    <div class="data-container">
        <p>Delete</p>
        {% if datadelete.errors %}
        <p class="error">{{ datadelete }} | Opportunity UUID: {{ dataadd.uuid }}</p>
        {% else %}
        <p>{{ datadelete }}</p>
        {% endif %}
    </div>

</body>

</html>